In [1]:
import pandas as pd

In [7]:
#Importing the dataset
Data1 = pd.read_csv("blogs.csv")
Data1

                                                   Data              Labels
0     Path: cantaloupe.srv.cs.cmu.edu!magnesium.club...         alt.atheism
1     Newsgroups: alt.atheism\nPath: cantaloupe.srv....         alt.atheism
2     Path: cantaloupe.srv.cs.cmu.edu!das-news.harva...         alt.atheism
3     Path: cantaloupe.srv.cs.cmu.edu!magnesium.club...         alt.atheism
4     Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:53...         alt.atheism
...                                                 ...                 ...
1995  Xref: cantaloupe.srv.cs.cmu.edu talk.abortion:...  talk.religion.misc
1996  Xref: cantaloupe.srv.cs.cmu.edu talk.religion....  talk.religion.misc
1997  Xref: cantaloupe.srv.cs.cmu.edu talk.origins:4...  talk.religion.misc
1998  Xref: cantaloupe.srv.cs.cmu.edu talk.religion....  talk.religion.misc
1999  Xref: cantaloupe.srv.cs.cmu.edu sci.skeptic:43...  talk.religion.misc

[2000 rows x 2 columns]

In [8]:
#Finding the types in dataset
Data1['Labels'].value_counts()

alt.atheism                 100
comp.graphics               100
talk.politics.misc          100
talk.politics.mideast       100
talk.politics.guns          100
soc.religion.christian      100
sci.space                   100
sci.med                     100
sci.electronics             100
sci.crypt                   100
rec.sport.hockey            100
rec.sport.baseball          100
rec.motorcycles             100
rec.autos                   100
misc.forsale                100
comp.windows.x              100
comp.sys.mac.hardware       100
comp.sys.ibm.pc.hardware    100
comp.os.ms-windows.misc     100
talk.religion.misc          100
Name: Labels, dtype: int64

In [9]:
#Checking for null values
Data1.isnull().sum()

Data      0
Labels    0
dtype: int64

In [10]:
#Checking the Data details
Data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data    2000 non-null   object
 1   Labels  2000 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [13]:
#Data cleaning function to clean each sentence separately
import re 
import string

def clean_Data(Data):
    
    Data = Data.lower()
    Data = re.sub('\[.*?\]', '', Data)
    Data = re.sub('[%s]' % re.escape(string.punctuation), '', Data)
    Data = re.sub('\w*\d\w*', '', Data)
    Data = re.sub("[0-9" "]+"," ",Data)
    Data = re.sub('[‚Äò‚Äô‚Äú‚Äù‚Ä¶]', '', Data)
    Data = re.sub('üòç','',Data)
    return Data  

clean = lambda x: clean_Data(x)

In [15]:
#Calling the cleaning function and clean the sentence
Data1['Data'] = Data1["Data"].apply(clean)
Data.Data

0       Path: cantaloupe.srv.cs.cmu.edu!magnesium.club...
1       Newsgroups: alt.atheism\nPath: cantaloupe.srv....
2       Path: cantaloupe.srv.cs.cmu.edu!das-news.harva...
3       Path: cantaloupe.srv.cs.cmu.edu!magnesium.club...
4       Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:53...
                              ...
1995    Xref: cantaloupe.srv.cs.cmu.edu talk.abortion:...
1996    Xref: cantaloupe.srv.cs.cmu.edu talk.religion....
1997    Xref: cantaloupe.srv.cs.cmu.edu talk.origins:4...
1998    Xref: cantaloupe.srv.cs.cmu.edu talk.religion....
1999    Xref: cantaloupe.srv.cs.cmu.edu sci.skeptic:43...
Name: Data, Length: 2000, dtype: object

In [16]:
Data.head

<bound method NDFrame.head of                                                    Data              Labels
0     Path: cantaloupe.srv.cs.cmu.edu!magnesium.club...         alt.atheism
1     Newsgroups: alt.atheism\nPath: cantaloupe.srv....         alt.atheism
2     Path: cantaloupe.srv.cs.cmu.edu!das-news.harva...         alt.atheism
3     Path: cantaloupe.srv.cs.cmu.edu!magnesium.club...         alt.atheism
4     Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:53...         alt.atheism
...                                                 ...                 ...
1995  Xref: cantaloupe.srv.cs.cmu.edu talk.abortion:...  talk.religion.misc
1996  Xref: cantaloupe.srv.cs.cmu.edu talk.religion....  talk.religion.misc
1997  Xref: cantaloupe.srv.cs.cmu.edu talk.origins:4...  talk.religion.misc
1998  Xref: cantaloupe.srv.cs.cmu.edu talk.religion....  talk.religion.misc
1999  Xref: cantaloupe.srv.cs.cmu.edu sci.skeptic:43...  talk.religion.misc

[2000 rows x 2 columns]>

In [29]:
#Spliting the dataset into Train and Test for model training and testing
from sklearn.model_selection import train_test_split

blogs_categories_train,blogs_categories_test = train_test_split(Data,test_size=0.2)

In [30]:
blogs_categories_train

                                                   Data              Labels
877   Newsgroups: rec.motorcycles\nPath: cantaloupe....     rec.motorcycles
1810  Xref: cantaloupe.srv.cs.cmu.edu talk.politics....  talk.politics.misc
786   Xref: cantaloupe.srv.cs.cmu.edu rec.autos:1030...           rec.autos
683   Xref: cantaloupe.srv.cs.cmu.edu misc.forsale:7...        misc.forsale
1228  Path: cantaloupe.srv.cs.cmu.edu!das-news.harva...     sci.electronics
...                                                 ...                 ...
1683  Newsgroups: talk.politics.guns\nPath: cantalou...  talk.politics.guns
1087  Newsgroups: rec.sport.hockey\nPath: cantaloupe...    rec.sport.hockey
1037  Newsgroups: rec.sport.hockey\nPath: cantaloupe...    rec.sport.hockey
1249  Path: cantaloupe.srv.cs.cmu.edu!rochester!udel...     sci.electronics
102   Path: cantaloupe.srv.cs.cmu.edu!rochester!udel...       comp.graphics

[1600 rows x 2 columns]

In [31]:
# Word count matrix format for classification 
from sklearn.feature_extraction.text import CountVectorizer
blogs_categories_bow = CountVectorizer().fit(Data1.Data)

In [32]:
# For all messages
all_blogs_categories_matrix = blogs_categories_bow.transform(Data1.Data)
all_blogs_categories_matrix.shape

(2000, 39321)

In [33]:
X1 = all_blogs_categories_matrix.toarray()

In [34]:
df = pd.DataFrame(X1, columns=blogs_categories_bow.get_feature_names_out())
df

,aa,aaa,aaaaarrrrgh,aaboston,aalternate,aaltonen,aam,aan,aangegeven,aantal,...,zwak,zwakke,zwar,zware,zwarte,zyda,zydacsnpsnavymil,zyehcaspianuscedu,zyxel,zz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
# For training messages
train_blogs_categories_matrix = blogs_categories_bow.transform(blogs_categories_train.Data)
train_blogs_categories_matrix.shape

# For testing messages
test_blogs_categories_matrix = blogs_categories_bow.transform(blogs_categories_test.Data)
test_blogs_categories_matrix.shape

(400, 39321)

In [36]:
train_blogs_categories_matrix.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [37]:
# Preparing a naive bayes model on training data set 
import numpy as np
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.metrics import classification_report


# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(train_blogs_categories_matrix,blogs_categories_train.Labels)

train_pred_m = classifier_mb.predict(train_blogs_categories_matrix)
accuracy_train_m = np.mean(train_pred_m==blogs_categories_train.Labels) 

print(classification_report(train_pred_m,blogs_categories_train.Labels))

test_pred_m = classifier_mb.predict(test_blogs_categories_matrix)
accuracy_test_m = np.mean(test_pred_m==blogs_categories_test.Labels)

                          precision    recall  f1-score   support

             alt.atheism       0.94      1.00      0.97        74
           comp.graphics       0.99      0.96      0.97        78
 comp.os.ms-windows.misc       1.00      1.00      1.00        80
comp.sys.ibm.pc.hardware       1.00      0.95      0.98        86
   comp.sys.mac.hardware       1.00      0.97      0.98        94
          comp.windows.x       0.99      1.00      0.99        76
            misc.forsale       0.94      1.00      0.97        73
               rec.autos       1.00      0.98      0.99        82
         rec.motorcycles       0.97      1.00      0.99        74
      rec.sport.baseball       0.99      1.00      0.99        85
        rec.sport.hockey       1.00      0.99      0.99        82
               sci.crypt       1.00      0.99      0.99        82
         sci.electronics       0.98      1.00      0.99        80
                 sci.med       0.98      1.00      0.99        82
               sci.space       1.00      1.00      1.00        77
  soc.religion.christian       1.00      0.99      0.99        81
      talk.politics.guns       0.99      1.00      0.99        81
   talk.politics.mideast       0.99      0.95      0.97        78
      talk.politics.misc       1.00      0.97      0.99        78
      talk.religion.misc       0.97      0.97      0.97        77

                accuracy                           0.99      1600
               macro avg       0.99      0.99      0.99      1600
            weighted avg       0.99      0.99      0.99      1600

In [38]:
train_pred_m, blogs_categories_train.Labels

(array(['rec.motorcycles', 'talk.politics.misc', 'rec.autos', ...,
        'rec.sport.hockey', 'sci.electronics', 'comp.graphics'],
       dtype='<U24'),
 877        rec.motorcycles
 1810    talk.politics.misc
 786              rec.autos
 683           misc.forsale
 1228       sci.electronics
                ...
 1683    talk.politics.guns
 1087      rec.sport.hockey
 1037      rec.sport.hockey
 1249       sci.electronics
 102          comp.graphics
 Name: Labels, Length: 1600, dtype: object)

In [40]:
accuracy_train_m, accuracy_test_m

(0.985625, 0.7475)